<xf:if is="$trait.isInsert()">
	<xf:title>New Racial Trait</xf:title>
<xf:else />
	<xf:title>Edit ({$trait.name})</xf:title>
</xf:if>

<xf:form action="{{ link('terrasphere-cm/racial-traits/save', $trait) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="name" value="{$trait.name}"
				label="{{ phrase('name') }}" />
			
			<xf:textboxrow name="icon_url" value="{$trait.icon_url}"
						   label="Icon" hint="Use FA classes." />
			
			<xf:textboxrow name="wiki_url" value="{$trait.wiki_url}"
						   label="{{ phrase('wiki_url') }}" />

			<xf:textboxrow name="tooltip" value="{$trait.tooltip}"
						   label="Tooltip" />

			<xf:checkboxrow label="Innate" hint="Innate traits are considered free, are auto-selected by races which can select them, and don't count against freebies or max traits.">
				<xf:option name="autoselect" label="" checked="{$trait.autoselect}" />
			</xf:checkboxrow>

			<xf:numberboxrow name="exclusivity" value="{$trait.exclusivity}" default="-1"
						   label="Group" hint="If not -1, this trait will lock other traits in the same group from being purchased if a user has it."/>
			
			<xf:checkboxrow label="Available Races" hint="Which groups can select this racial triat?">
				<xf:foreach loop="$userGroups" value="$usergroup">
					<xf:option name="usergroup{$usergroup.user_group_id}" label="{$usergroup.title}" checked="{$usergroup.user_title}" />
				</xf:foreach>
			</xf:checkboxrow>
		</div>
		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>