<xf:if is="$button.isInsert()">
	<xf:title>New Banner Button</xf:title>
<xf:else />
	<xf:title>{{ phrase('edit') }} ({$button.name})</xf:title>
</xf:if>

<xf:form action="{{ link('terrasphere-core/banner-buttons/save', $button) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="name" value="{$button.name}"
				label="{{ phrase('name') }}" />
			
			<xf:formrow label="Icon Image">
				<div class="inputGroup inputGroup--joined" data-xf-init="asset-upload" data-asset="BannerButton-icon_urls">
					<input type="text" class="input js-assetPath " name="icon_url" value="{{$button.icon_url}}" dir="ltr" id="stilldontknowwhythisexists">
					<label class="inputGroup-text inputUploadButton" data-xf-init="tooltip" data-original-title="Upload file" id="stilldontknowwhythisexistseither">
						<input type="file" class="js-uploadAsset" accept=".gif,.jpeg,.jpg,.jpe,.png">
					</label>
				</div>
			</xf:formrow>
			
			<xf:textboxrow name="url" value="{$button.url}"
				label="URL" hint="URL is relative to index unless the protocol is included (eg. https://xyz)." />
			
			<xf:selectrow name="behavior" value="{$button.behavior}"
							label="Click Behavior" hint="What should occur on click?">
				<xf:option value="0">Open Modal Window</xf:option>
				<xf:option value="1">Redirect to New Page</xf:option>
				<xf:option value="2">Redirect to New Tab</xf:option>
			</xf:selectrow>
		</div>
		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>