<div class="block-container">
	<h1 style="text-align: center;">Equipment Upgrade</h1>
	<hr>
	<h2 style="text-align: center;">{$name} to Rank {$nextRank.name}</h2>
	<div style="max-width: 200px; margin:auto;">
		<ul>
			<li><b>Cost:</b> {$nextCost} {$rankSchema.Currency.title}</li>
			<li><b>Current:</b> {$userVal} {$rankSchema.Currency.title}</li>
			<li><b>After:</b> {$afterVal} {$rankSchema.Currency.title}</li>
		</ul>
	</div>
	
	<div class="mastery-upgrade-icon-container">
		<div class="character-sheet-mastery-container">
			<div class="character-sheet-mastery grid-overlap">
				<div class="rank-stars grid-overlap rank-stars-{$thisRank.tier}"></div>
				<div class="character-sheet-mastery-icon-container grid-overlap rank-{$thisRank.tier}"
					 style="background-color: #B0B0B0">
					<img class="character-sheet-mastery-icon grid-overlap"
				 		 src="{$iconSrc}"
				 		 alt="Equipment slot" />
				</div>
			</div>
		</div>
		<div class="upgrade-arrow-container">
			<img class="upgrade-arrow"
				 src="{{ base_url('styles/default/Terrasphere/Charactermanager/upgrade_arrow.png', true) }}"
				 alt="upgrade arrow"/>
		</div>
			
		<div class="character-sheet-mastery-container">
			<div class="character-sheet-mastery grid-overlap">
				<div class="rank-stars grid-overlap rank-stars-{{$thisRank.tier+1}}"></div>
				<div class="character-sheet-mastery-icon-container grid-overlap rank-{{$thisRank.tier+1}}"
					 style="background-color: #B0B0B0">
					<img class="character-sheet-mastery-icon grid-overlap"
					 	 src="{$iconSrc}"
					 	 alt="Equipment slot" />
				</div>
			</div>
		</div>
	</div>
	<div style="width:100%; padding:1.5rem; display:flex;">
		<xf:form action="{{ link('members/cs/equipment/upgradeEquip', null, {'user_id': $user.user_id, 'equip_id': $equipId}) }}"
			  		method="post"
			  		ajax="true"
					data-xf-init="upgrade-equip"
			  		data-reset-complete="true"
			  		data-redirect="off"
					 style="margin:auto;">
			<xf:submitrow sticky="true" icon="Confirm" />
		</xf:form>
	</div>
</div>

<xf:js src="Terrasphere/Charactermanager/upgrade_equip.js" addon="Terrasphere/Charactermanager" />