<xf:title>Upgrade Expertise</xf:title>

<div class="block-container">
	<h1 class="character-sheet-overlay-title">Expertise Upgrade</h1>
	<hr>
	<h2 class="character-sheet-overlay-subtitle">{$expertise.display_name} to Rank {$nextRank.name}</h2>
	<div class="character-sheet-overlay-stats">
		<ul>
			<li><b>Cost:</b> {$nextCost} {$rankSchema.Currency.title}</li>
			<li><b>Current:</b> {$userVal} {$rankSchema.Currency.title}</li>
			<li><b>After:</b> {$afterVal} {$rankSchema.Currency.title}</li>
		</ul>
	</div>
	
	<div class="expertise-upgrade-icon-container">
		<div class="character-sheet-expertise-container" id="expertise-container-{$expertise_slot.target_index}">
			<div class="character-sheet-expertise grid-overlap" style="display: {$expertiseElementDisplay};">
				<div class="rank-stars grid-overlap rank-stars-{$thisRank.tier}"></div>
				<div class="character-sheet-expertise-icon-container grid-overlap rank-{$thisRank.tier}"
					 style="background-color: {$expertise.color}">
					<img class="character-sheet-expertise-icon grid-overlap"
					 	 src="{$expertise.icon_url}"
					 	 alt="Expertise slot" />
				</div>
			</div>
		</div>
		<div class="upgrade-arrow-container">
			<img class="upgrade-arrow"
				 src="{{ base_url('styles/default/Terrasphere/Charactermanager/upgrade_arrow.png', true) }}"
				 alt="upgrade arrow"/>
		</div>
	
		<div class="character-sheet-expertise-container" id="mastery-container-{$expertise_slot.target_index}">
			<div class="character-sheet-expertise grid-overlap" style="display: {$expertiseElementDisplay};">
				<div class="rank-stars grid-overlap rank-stars-{{$thisRank.tier+1}}"></div>
				<div class="character-sheet-expertise-icon-container grid-overlap rank-{{$thisRank.tier+1}}"
					 style="background-color: {$expertise.color}">
					<img class="character-sheet-expertise-icon grid-overlap"
					 	 src="{$expertise.icon_url}"
					 	 alt="Expertise slot" />
				</div>
			</div>
		</div>
	</div>
	<div style="width:100%; padding:1.5rem; display:flex;">
		<xf:form action="{{ link('members/cs/expertise/upgradeExpertise', $expertise_slot, {'user_id': $expertise_slot.user_id, 'target_index': $expertise_slot.target_index}) }}"
			  		method="post"
			  		ajax="true"
					data-xf-init="upgrade-expertise"
			  		data-reset-complete="true"
			  		data-redirect="off"
					 style="margin:auto;">
			<xf:submitrow sticky="true" icon="Confirm" />
		</xf:form>
	</div>
</div>

<xf:js src="Terrasphere/Charactermanager/upgrade_expertise.js" addon="Terrasphere/Charactermanager" />