<xf:css>
.character-banner-container {
	margin-bottom: 30px;
}

.character-banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	display: flex;
    flex-wrap: nowrap;
	flex-direction: column;
    justify-content: space-between;
}

.character-banner-overlay {
	background: rgba(19,20,25,0.4);
}

.character-banner-top {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
	
.character-banner-top-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
	
.character-banner-header {
	display: flex;
	flex-direction: column;
}
	
.character-banner-username {
	color: white;
	font-size: 2.5rem;
	text-shadow: 0px 1px 5px black;
	font-variant: small-caps;
	padding-left: 13px;
	font-weight: 600;
}
	
.character-banner-group-tag {
	
}
	
.character-tag {
	font-size: 0.9rem;
	color: white;
	border: 1px solid cyan;
	padding: 4px 7px;
	background-color: #00000055;
}
	
.character-banner-rank-subheading {
	color: white;
	font-size: 1.2rem;
	text-shadow: 0px 1px 1px black;
	font-variant: small-caps;
	padding-left: 13px;
	font-weight: 500;
	margin: 0;
}

.character-banner-icons {
	display: inline-block;
}

.character-banner-masteries {
	display: flex;
    justify-content: flex-end;
}

.character-banner-expertises {
	display: flex;
    justify-content: flex-end;
}

.character-banner-small-icon-container {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 7px;
}
	
.character-banner-small-icon {
	border-radius: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
	height: 50px;
    width: 50px;
}

.character-banner-small-icon-image {
	width: 80%;
	height: 80%;
}

.rank-letter-small {
	color: white;
	font-size: 1.5rem;
	text-shadow: 0px 2px 3px black;
}

.character-banner-equips {
	display: flex;
    justify-content: flex-start;
}

.character-banner-bottom {
	padding: 7px;
	display: flex;
    justify-content: space-between;
	background-color: #000000cc;
}

.character-banner-interface {
	display: flex;
    align-items: center;
}
	
.character-banner-interface-button-container {
	width: 35px;
	height: 35px;
	margin: 0px 12px;
}
	
.character-banner-currencies {
	font-weight: 700;
}
.character-banner-currencies dl {
	margin-right: 25px !important;
	margin-left: 25px !important;
}
.character-banner-currencies dt {
	color: white;
}
[title=MP] + dd { color: cyan !important; }
[title=GP] + dd { color: gold !important; }
</xf:css>

<xf:macro name="icon"
		  arg-src="!"
		  arg-name="!"
		  arg-color="!"
		  arg-rank="!">
	<div class="character-banner-small-icon-container">
		<div class="character-banner-small-icon" style="background-color: {$color};">
			<img class="character-banner-small-icon-image"
				 src="{$src}"
				 alt="{$name}">
		</div>
		<strong class="rank-letter-small">{$rank}</strong>
	</div>
</xf:macro>

<xf:macro name="interface_button"
		  arg-src="!"
		  arg-alt="!"
		  arg-link="!"
		  arg-behavior="!">
	<div class="character-banner-interface-button-container">
		<xf:if is="{{$behavior == 0}}">
			<a href="{$link}"
		   	   class="character-banner-interface-button"
		   	   data-xf-click="overlay">
				<i class="char-banner-custom-button-icon {$src}"></i>
			</a>
			
		<xf:elseif is="{{$behavior == 1}}" />
			<a href="{$link}"
		       class="character-banner-interface-button">
				<i class="char-banner-custom-button-icon {$src}"></i>
			</a>
		<xf:else />
			<a href="{$link}" target="_blank"
			   class="character-banner-interface-button">
				<i class="char-banner-custom-button-icon {$src}"></i>
			</a>
		</xf:if>
	</div>
</xf:macro>

<xf:if is="$xf.visitor.user_id != 0"> <xf:if is="$xf.visitor.canShowCharacterElements()">
	<div class="character-banner-container">
		<div class="character-banner" style="background-image: url('{{$xf.visitor.Profile.getBannerURL(null)}}');
											 background-position-y: {$xf.visitor.Profile.banner_position_y}%;">
			<div class="character-banner-overlay">
				<div class="character-banner-top">
					
					<!-- Left-side of top section -->
					<div class="character-banner-top-left">
						<div class="character-banner-header">
							<a href="{{ link('members/charactersheet', $xf.visitor, {}) }}"
					   		data-xf-click="overlay"><span class="character-banner-username">{$xf.visitor.username}</span>
							<xf:foreach loop="{{$xf.visitor.getUsergroupBanners()}}" key="$id" value="$banner">
								<span class="character-banner-group-tag {$banner.class}">{{$banner.text}}</span>
							</xf:foreach>
							</a>
							<p class="character-banner-rank-subheading">Rank {{$xf.visitor.getCharacterRank()}}</p>
						</div>
						<div class="character-banner-equips">
							<xf:macro name="icon"
									  arg-src="{{base_url($xf.visitor.getOrInitiateWeapon().Equipment.icon_url, true)}}"
									  arg-name="{{base_url($xf.visitor.getOrInitiateWeapon().Equipment.display_name, true)}}"
									  arg-color="#B0B0B0"
									  arg-rank="{{$xf.visitor.getOrInitiateWeapon().Rank.name}}" />
							<xf:macro name="icon"
									  arg-src="{{base_url($xf.visitor.getOrInitiateArmor().Equipment.icon_url, true)}}"
									  arg-name="{{base_url($xf.visitor.getOrInitiateArmor().Equipment.display_name, true)}}"
									  arg-color="#B0B0B0"
									  arg-rank="{{$xf.visitor.getOrInitiateArmor().Rank.name}}" />
							<xf:macro name="icon"
									  arg-src="{{base_url($xf.visitor.getOrInitiateAccessory().Equipment.icon_url, true)}}"
									  arg-name="{{base_url($xf.visitor.getOrInitiateAccessory().Equipment.display_name, true)}}"
									  arg-color="#B0B0B0"
									  arg-rank="{{$xf.visitor.getOrInitiateAccessory().Rank.name}}" />
						</div>
					</div>
					
					
					<!-- Right-side of top section -->
					<div class="character-banner-icons">
						<div class="character-banner-masteries">
							<xf:foreach loop="$xf.visitor.getMasteries()" key="$id" value="$masteryEntry">
								<xf:macro name="icon"
										  arg-src="{$masteryEntry.Mastery.icon_url}"
										  arg-name="{$masteryEntry.Mastery.display_name}"
										  arg-color="{$masteryEntry.Mastery.color}"
										  arg-rank="{$masteryEntry.Rank.name}" />
							</xf:foreach>
						</div>
						<div class="character-banner-expertises">
							<xf:foreach loop="$xf.visitor.getExpertises()" key="$id" value="$expertiseEntry">
								<xf:macro name="icon"
										  arg-src="{$expertiseEntry.Expertise.icon_url}"
										  arg-name="{$expertiseEntry.Expertise.display_name}"
										  arg-color="{$expertiseEntry.Expertise.color}"
										  arg-rank="{$expertiseEntry.Rank.name}" />
							</xf:foreach>
						</div>
					</div>
				</div>
				<div class="character-banner-bottom">
					<div class="character-banner-interface">
						<xf:foreach loop="$xf.visitor.getBannerButtons()" value="$button">
							<xf:macro name="interface_button"
								  arg-src="{$button.icon_url}"
								  arg-alt="Unanswered Threads"
								  arg-link="{{ $button.getParsedURL($xf.visitor) }}"
								  arg-behavior="{$button.behavior}" />
						</xf:foreach>
					</div>
					<div class="character-banner-currencies">
						<xf:include template="dbtech_credits_member_stats" />
					</div>
				</div>
			</div>
		</div>
	</div>
</xf:if> </xf:if>