<div class="block">
	<div class="block-container">
		<h1 style="text-align: center;">Mastery Upgrade</h1>
		<h2 style="text-align: center;">{$mastery.display_name} to Rank {$nextRank.name}</h2>
		<p style="text-align: center;"><b>Cost:</b> {$nextCost} {$rankSchema.Currency.title}<br>
		<b>Current:</b> {{$rankSchema.Currency.getValueFromUser($user)}} {$rankSchema.Currency.title}<br>
		<b>After:</b> {{$rankSchema.Currency.getValueFromUser($user) - $nextCost}} {$rankSchema.Currency.title}</p>
			
		<div class="mastery-upgrade-icon-container">
			<div class="character-sheet-mastery-container" id="mastery-container-{$mastery_slot.target_index}">
				<div class="character-sheet-mastery grid-overlap" style="display: {$masteryElementDisplay};">
					<div class="character-sheet-mastery-icon-container grid-overlap rank-{$thisRank.rank_id}">
						<img class="character-sheet-mastery-icon grid-overlap"
					 		src="{$mastery.icon_url}"
					 		alt="Mastery slot" />
					</div>
				</div>
			</div>
			<div class="upgrade-arrow-container">
				<img class="upgrade-arrow"
					src="{{ base_url('styles/default/Terrasphere/Charactermanager/upgrade_arrow.png', true) }}"
					alt="upgrade arrow"/>
			</div>
				
			<div class="character-sheet-mastery-container" id="mastery-container-{$mastery_slot.target_index}">
				<div class="character-sheet-mastery grid-overlap" style="display: {$masteryElementDisplay};">
					<div class="character-sheet-mastery-icon-container grid-overlap rank-{{$thisRank.rank_id+1}}">
						<img class="character-sheet-mastery-icon grid-overlap"
					 		src="{$mastery.icon_url}"
					 		alt="Mastery slot" />
					</div>
				</div>
			</div>
		</div>
		<div style="width:100%; margin-bottom:1.5rem; display:flex;">
			<xf:button href="{{ link('members/cs/mastery/upgrade', $mastery_slot, {'user_id': $mastery_slot.user_id, 'target_index': $mastery_slot.target_index})}}"
					   style="margin:auto;">
				Confirm
			</xf:button>
		</div>
	</div>
</div>