<xf:include template="terrasphere_cm_character_sheet_css" />

<div class="block character-sheet" style="max-width: 1018px; margin: auto;">
    <div class="block-container">
        <div class="block-body">
			
			<xf:include template="terrasphere_cm_character_sheet_cell_race_traits" />
            <xf:if is="$hasCS">
                <xf:include template="terrasphere_core_post_proxy_page"/>
            </xf:if>

            <xf:include template="terrasphere_cm_character_sheet_cell_mastery_equip" />
        </div>
    </div>
</div>