<xf:title>New race trait</xf:title>

<xf:macro name="trait"
		  arg-trait="!">
	<label>
		<div class="character-sheet-race-trait-option-container">
			<input class="race-trait-option grid-overlap"
			   type="radio"
			   id="trait-{$trait.race_trait_id}"
			   name="trait"
			   value="{$trait.race_trait_id}">
			<div class="character-sheet-race-trait-option">
				<div class="character-sheet-race-trait-option-content grid-overlap">
					<div class="character-sheet-race-trait-option-content-title">{$trait.name}</div>
					<div class="character-sheet-race-trait-option-content-desc">{$trait.tooltip}</div>
				</div>
				<div class="race-trait-option-unselect-veil grid-overlap"></div>
			</div>
		</div>
	</label>
</xf:macro>

<div class="block-container">
	<h1 class="character-sheet-overlay-title">Select a race trait</h1>
	<div class="character-sheet-overlay-stats">
		<ul>
			<li><b>Cost:</b> {$currencyCost} {$currencyName}</li>
			<li><b>Current:</b> {$currencyCurrent} {$currencyName}</li>
			<li><b>After:</b> {$currencyAfter} {$currencyName}</li>
		</ul>
	</div>
	
	<xf:form action="{{ link('members/cs/race-trait/saveNewTrait', $slot, {'user_id': $slot.user_id, 'slot_index': $slot.slot_index}) }}"
			  class="block-container"
			  method="post">
		<div class="character-sheet-race-trait-option-list">
			<xf:foreach loop="$traits" value="$trait" key="$traitKey">
				<xf:macro name="trait" arg-trait="{$trait}"></xf:macro>
			</xf:foreach>
		</div>
		
		<xf:submitrow icon="save" />
	</xf:form>
</div>