<xf:macro name="mastery"
		  arg-mastery="!">
	<label class="character-sheet-mastery-container">
		<input class="mastery-option grid-overlap"
		   type="radio"
		   id="mastery-{$mastery.mastery_id}"
		   name="mastery"
		   value="{$mastery.mastery_id}">
		<div class="character-sheet-mastery grid-overlap">
			<div class="character-sheet-mastery-icon-container grid-overlap" style="background-color: {{$mastery.color}};">
				<xf:if is="$mastery.icon_url != ''">
					<img src="{$mastery.icon_url}" class="character-sheet-mastery-icon">
				<xf:else />
					<img src="{{ base_url('styles/default/Terrasphere/Charactermanager/missing_img.png', true) }}" class="character-sheet-mastery-icon">
				</xf:if>
			</div>
			<div class="mastery-unselect-overlay grid-overlap"></div>
			<div class="character-sheet-mastery-title">{$mastery.display_name}</div>
			<div class="mastery-option-trait-container">
				<div class="mastery-trait-icon role-icon {$mastery.MasteryRole.css_classes}" style="color:{$mastery.MasteryRole.hex_color}"></div>
				<div class="mastery-trait-icon expertise-icon {$mastery.MasteryExpertise.css_classes}"  style="color:{$mastery.MasteryExpertise.hex_color}"></div>
				<div class="mastery-trait-icon save-icon {$mastery.MasterySave.css_classes}"  style="color:{$mastery.MasterySave.hex_color}"></div>
			</div>
		</div>
	</label>
</xf:macro>

<xf:macro name="mastery_category"
		  arg-category="!">
	<div class="mastery-category">
		<h2 class="mastery-category-title">{$category.name}</h2>
		<div class="mastery-category-list">
			<xf:foreach loop="$category.masteries" value="$mastery">
				<xf:macro name="mastery" arg-mastery="{$mastery}"></xf:macro>
			</xf:foreach>
		</div>
	</div>
</xf:macro>

<div class="block">
	<div class="block-container">
		<xf:form action="{{ link('members/cs/mastery/saveNewMastery', $masterySlot, {'user_id': $masterySlot.user_id, 'target_index': $masterySlot.target_index}) }}"
			  	class="block-container"
			  	method="post"
			  	ajax="true"
				data-xf-init="new-mastery"
			  	data-reset-complete="true"
			  	data-redirect="off">
			<xf:foreach loop="$masteries" value="$masteryCategory" key="$categoryIndex">
				<xf:macro name="mastery_category" arg-category="{$masteryCategory}"></xf:macro>
			</xf:foreach>
			<xf:submitrow icon="save" />
		</xf:form>
	</div>
</div>

<xf:js src="Terrasphere/Charactermanager/new_mastery.js" addon="Terrasphere/Charactermanager" />